/.quarto/
.Rproj.user
.DS_Store
_site/about.html
_site/index.html
_site/me.jpg
_site/search.json
_site/site_libs/bootstrap/bootstrap-icons.css
_site/site_libs/bootstrap/bootstrap-icons.woff
_site/site_libs/bootstrap/bootstrap.min.css
_site/site_libs/bootstrap/bootstrap.min.js
_site/site_libs/clipboard/clipboard.min.js
_site/site_libs/quarto-html/anchor.min.js
_site/site_libs/quarto-html/popper.min.js
_site/site_libs/quarto-html/quarto-syntax-highlighting.css
_site/site_libs/quarto-html/quarto.js
_site/site_libs/quarto-html/tippy.umd.min.js
_site/site_libs/quarto-html/tippy.css
_site/site_libs/quarto-nav/quarto-nav.js
_site/site_libs/quarto-search/autocomplete.umd.js
_site/site_libs/quarto-search/fuse.min.js
_site/site_libs/quarto-search/quarto-search.js
_site/site_libs/quarto-nav/headroom.min.js
_site/styles.css
